tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorflow==2.13.0
tensorflow-datasets==4.9.3
tensorflow-estimator==2.13.0
tensorflow-gcs-config==2.13.0
tensorflow-hub==0.14.0
tensorflow-io-gcs-filesystem==0.34.0
tensorflow-metadata==1.14.0
tensorflow-probability==0.20.1
keras==2.13.1
pytensor==2.14.2
cupy-cuda11x==11.0.0
numpy==1.23.5
opencv-contrib-python==4.8.0.76
opencv-python==4.8.0.76
opencv-python-headless==4.8.1.78
matplotlib==3.7.1
matplotlib-inline==0.1.6
matplotlib-venn==0.11.9
jsonpickle==3.0.2
h5py==3.9.0
html5lib==1.1
autograd==1.6.2
pandas==1.5.3
pandas-datareader==0.10.0
pandas-gbq==0.17.9
sklearn-pandas==2.2.0
